html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
body{
  background:
  linear-gradient(to bottom, #7deee8, #f7f9f5);
}